body {
  height: 100vh;
  width: 100vw;
  background-color: #232323;
  color: #fff;
  font-family: Manrope;
  user-select: none;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

div,
span {
  padding: 5px;
}

#root {
  display: flex;
  flex-direction: column;
}

#root > div:first-child {
  border-radius: 10px 10px 0 0;
  background-color: #696969;
}

#root > div:nth-child(2) {
  justify-content: center;
  background-color: #696969;
  font-weight: 800;
  font-size: 60px;
}

#root > div:nth-child(2) > div {
  width: 80px;
}

.container {
  display: flex;
}

.column {
  flex-direction: column;
}

.main-controls {
  background-color: #dcdcdc;
  border-radius: 0px 0px 10px 10px;
  color: #232323;
}

.main-controls > div > div:first-child {
  border-right: 1px solid #778899;
}

.main-controls > div > div {
  width: 50%;
}

.main-controls > div:nth-child(2) {
  border-top: 1px solid #778899;
  padding: 12px 10px 7px 10px;
}

.sub-controls {
  background-color: #696969;
  margin: 10px;
  border-radius: 7px;
  padding: 12px 12px 2px 12px;
}

.sub-controls > div {
  font-size: 24px;
  padding-bottom: 0;
}

.sub-controls > div > span {
  width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  font-size: 32px;
}

.sub-controls > span {
  border-bottom: 1px solid #dcdcdc;
}

.clickable:hover {
  cursor: pointer;
}
