html,
body {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: hidden;
}

* {
  box-sizing: border-box;
}

:root {
  background-color: black;
  color: white;
  font-family: Manrope;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  user-select: none;
  text-align: center;
}

.container {
  display: flex;
}

.column {
  flex-direction: column;
}

#timer-label {
  border-radius: 10px 10px 0px 0px;
  background-color: #696969;
}

.timer {
  display: flex;
  justify-content: center;
}

.timer > div {
  width: 80px;
}

#time-left {
  background-color: #696969;
  font-weight: 800;
  font-size: 60px;
}

.main-controls {
  background-color: #dcdcdc;
  border-radius: 0px 0px 10px 10px;
  color: black;
}

#start_stop,
#reset {
  width: 50%;
}

#start_stop {
  border-right: 1px solid #778899;
}

div {
  padding: 5px;
}

.number {
  width: 60%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  font-size: 32px;
}

.arrows {
  width: 40%;
  font-size: 24px;
}

.sub-controls {
  background-color: #696969;
  margin: 10px;
  border-radius: 7px;
}

.length-text {
  border-bottom: 1px solid #dcdcdc;
}
